  GNU nano 9.0           .gitignore
# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python


# =====================
# Virtual Environment
# =====================
venv/
env/
ENV/
.venv/

# =====================
# Django
# =====================
*.log
db.sqlite3
media/
staticfiles/
*.sqlite3

# Migrations (اختياري لو مش عايز ترفعها)
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# =====================
# IDE / Editors
# =====================
.vscode/
.idea/
*.swp

# =====================
# OS Files
# =====================
.DS_Store
Thumbs.db

# =====================
# Termux / Linux temp
# =====================
*.bak
*.tmp


outline.md
